
.tabla-scroll {
  border: 2px solid #ccc;
  background-color: white;
    max-height: 350px; /* Puedes ajustar este valor según tus necesidades */
    overflow-y: auto;
  }

  .tabla-scroll thead {
    position: sticky;
    top: 0;
    background-color: #fff; /* Puedes ajustar el color de fondo según tu diseño */
    z-index: 1; /* Asegura que el encabezado aparezca por encima del contenido al hacer scroll */
  }