  .contenedorAcercade{
    height: 50%;
    width: 60%;
    font-size: large;
    font-weight: bold;
    background: white;
    border-radius: 50px;
    padding: 15px 5%;
    text-align: justify;
    box-shadow: unset 10px 10px 10px #3b3b3bb6;
  }