.contenedorOpciones{
    height: 100px;
    width: 1000px;
    margin: 50px auto;
}

.contenedorRespuesta{
    border-radius: 50px;
    background-color: white;
    width: 400px;
    height: 50px;
    font-size: medium;
    font-weight: normal;
}

.opcionSeleccionada{
    color: black;
    background-color: yellow;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #ccc; 
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 50px;
}

.opcionIndividual {
    color: white;
    background-color: blue;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 50px;
  }
  
  .opcionIndividual:hover, .opcionSeleccionada:hover{
    background-color: #afafaf;
  color: white;
  }