html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#BAFCEB, #F6FFFD);
  /* background: url('../../public/img/fondo/MapaOscuro.png') no-repeat center center fixed;
  background-size: cover; */
  /* background: url('/img/fondo/FondoCelesteFiltro.jpg') no-repeat center center fixed;
  background-size: cover; */
}

.mascota{
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 25%;
}

.tituloGeneral {
  margin-top: 1%;
  padding: 0;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  color: gray;
  text-shadow: 2px 2px 5px #3b3b3bb6;
}

.tituloIndex {
  margin-top: 1%;
  padding: 0;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: gray;
  text-shadow: 2px 2px 5px #3b3b3bb6;
}

.letraAmarillo {
  color: yellow;
}

.letraAzul {
  color: blue;
}

.letraRoja {
  color: red;
}

.contenedorIndex {
  margin: 10px auto;
  width: 50%;
  background: transparent;
}

.contenedorMenuTutor{
  margin-top: 50px;
  }

.contenedorIndex .botones {
  font-size: 50px;
  font-weight: bold;
  border-radius: 60px;
  width: 100%;
  margin: 15px 0;
  box-shadow: 0px 10px 15px #3b3b3bb6;
}

.contenedorIndex .amarillo {
  background: yellow;
  color: black;
}

.contenedorIndex .azul {
  background: blue;
  color: white;

}

.contenedorIndex .rojo {
  background: red;
  color: white;
}

.amarillo:hover, .azul:hover, .rojo:hover{
  background-color: #afafaf;
  color: white;
  transform: translateY(-3px);
  box-shadow: none;
}

.acercaDe:hover {
  background-color: #afafaf;
  color: white;
  box-shadow: none;
}

.acercaDe {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 200px;
  font-size: 20px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  border : none;
  border-radius: 60px;
  box-shadow: 0px 10px 10px #3b3b3bb6;
}

.barraLogos {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  height: 70px;
  display: block;
}