.contenedorInstrucciones {
    width: 90%;
    font-size: large;
    font-weight: bold;
    background: #dcdcdc;
    border-radius: 50px;
    padding: 3% 5%;
    text-align: justify;
    box-shadow: 10px 10px 10px #3b3b3bb6;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.contenedorInstrucciones p{
    margin: 0;
    padding: 0;
}

.botones {
    font-size: 45px;
    font-weight: bold;
    border: none;
    border-radius: 60px;
    width: 300px;
    margin-top: 20px;
}

.botones:hover {
    background-color: #afafaf;
    color: white;
}

.botonJugar {
    position: absolute;
    top: 85%;
    left: 65%;
    transform: translate(-50%, -50%);
    background: yellow;
    color: black;
}

.botonRegresar {
    position: absolute;
    top: 85%;
    left: 35%;
    transform: translate(-50%, -50%);
    background: red;
}