.contenedorLectura {
    width: 90%;
    font-size: large;
    font-weight: bold;
    background: #dcdcdc;
    border-radius: 50px;
    padding: 1% 3%;
    text-align: justify;
    box-shadow: 10px 10px 10px #3b3b3bb6;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .parrafos {
    margin: 0;
  overflow: auto;
  max-height: 300px; 
  }