html {
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  background: linear-gradient(#A9F4E1, #F6FFFD);
}


h1{
  margin-top: 2%;
  padding: 0;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: gray;
  text-shadow: 2px 2px 5px #3b3b3bb6;  
}

.lecturas{
 text-align: center;
 margin-top: 50px;
}

.elemento{
  text-align: center;
  position: relative;
  padding: 15px;
  display: inline-block;
}

/* ! Hay que ver como se hace las imagenes con las dimensiones oficiales */

img{
  /* width: auto;
  height: auto; */
  box-shadow: 2px 2px 5px #3b3b3bb6;
  transition: .5s ease;
} 

h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  opacity: 0.5;
  transition: .5s ease;
}

a{
  text-decoration: none;
  color: #000;
}

.elemento:hover img{
  opacity: 0.3;
}

.elemento:hover h3{
  opacity: 1;
}

.regresar{
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 200px;
    font-size: 20px;
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 60px;
  }

  .regresar:hover{
    background-color: #afafaf;
  color: white;
  }