.regresar{
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 200px;
    font-size: 20px;
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 60px;
  }

  .regresar:hover{
    background-color: #afafaf;
  color: white;
  }