.contenedorMenuJuegos {
  width: 80%;
  margin: 2% auto;
}

.botonesTutor{
  width: 200px;
  font-size: 20px;
  background-color: yellow;
  color: black; 
  font-weight: bold;
  border: none;
  border-radius: 60px;
  box-shadow: 7px 7px 10px #3b3b3bb6;
}

.botonesTutor:hover {
  background-color: #afafaf;
  color: white;
  box-shadow: none;
}

.botonesTutor:active{
  box-shadow: none;
}

.logros {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.insignias {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.botonLectura{
  margin: 10px 0;
  width: 100%;
  height: 80px;
  font-size: 38px;
  border: none;
  border-radius: 60px;
  font-weight: bold;
  box-shadow: 10px 10px 10px #3b3b3bb6;
}

.botonAmarillo{
  height: 90px;
}

.fila:nth-child(2n+1) .botonLectura {
  background-color: yellow;
  color: black; /* Cambia el color del texto si es necesario */
}

/* Estilo para botones en la segunda fila (azul) */
.fila:nth-child(2n) .botonLectura {
  background-color: blue;
  color: white; /* Cambia el color del texto si es necesario */
}

/* Estilo para botones en la tercera fila (rojo) */
.fila:nth-child(2n+3) .botonLectura {
  background-color: red;
  color: white; /* Cambia el color del texto si es necesario */
}

.fila:nth-child(2n+1) .botonLectura:hover,
.fila:nth-child(2n) .botonLectura:hover,
.fila:nth-child(2n+3) .botonLectura:hover {
  background-color: #afafaf;
  color: white;
  box-shadow: none;
}

.fila:nth-child(2n+1) .botonLectura:active,
.fila:nth-child(2n) .botonLectura:active,
.fila:nth-child(2n+3) .botonLectura:active {
  background-color: #565e64;
  color: white;
  box-shadow: none;
}

.nombreUsuario{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

.usuario{
  font-size: 40px;
  font-weight: bold;
}

.botonInformacion {
  position: absolute;
  top: 80%;
  left: 95%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  cursor: pointer;
}

.botonSonido {
  position: absolute;
  top: 90%;
  left: 95%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  cursor: pointer;
}

.botonInformacion:hover {
  color: #007bff;
}