html {
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  background: linear-gradient(#A9F4E1, #F6FFFD);
}

.tituloMenuJuegos{
  margin-top: 1%;
  padding: 0;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: gray;
  text-shadow: 2px 2px 5px #3b3b3bb6;  
}

.contenedorMenuJuegos{
  margin-top: 2%;
}

.elemento{
  text-align: center;
  position: relative;
  padding: 15px;
}

.regresar{
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 200px;
    font-size: 20px;
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 60px;
  }

  .regresar:hover{
    background-color: #afafaf;
  color: white;
  }