.ordenLecturas {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: blue;
}

.lecturas {
  margin: 40px auto;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  height: 30%;
  margin: auto 0;
  background-color: #101213;
  opacity: 0.5;
  transition: .5s ease;
  border-radius: 10px;
}

.carousel-control-prev {
  left: -70px;
  /* Ajusta la posición izquierda según tus preferencias */
}

.carousel-control-next {
  right: -70px;
  /* Ajusta la posición derecha según tus preferencias */
}

.carousel-indicators {
  bottom: -40px;
  /* Ajusta la posición inferior según tus preferencias */
  width: 10%;
  margin: 0 auto;
  background-color: #101213;
  opacity: 0.5;
  transition: .5s ease;
  border-radius: 10px;
}

.tarjetaLectura {
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

.tarjetaLectura:hover img {
  opacity: 0.3;
}

.tarjetaLectura:hover h3 {
  opacity: 1;
}

/* ! Hay que ver como se hace las imagenes con las dimensiones oficiales */
.imagenesLecturas {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: .5s ease;
  cursor: pointer;
}

.tituloLectura {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  opacity: 0.5;
  transition: .5s ease;
  cursor: pointer;
  border-radius: 10px;
}

.regresarCentrado {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 43px;
  font-weight: bold;
  border-radius: 60px;
  width: 300px;
  height: 85px;
  margin-top: 20px;
  padding: 5px 10px;
  background: red;
  color: white; 
  border: 2px solid rgb(184, 0, 0);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9), -15px -20px 12px rgba(255, 255, 255, 0.6) inset;
}

.regresarCentrado:hover {
  background-color: #afafaf;
  border-color: #565e64;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), -13px -15px 12px rgba(255, 255, 255, 0.8) inset;
}

.regresarCentrado:active {
  transform: translate(-50%, -50%) scale(0.95);
  background: #565e64;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), -13px -15px 12px rgba(255, 255, 255, 0.8) inset;
}

.contenedorInstruccion{
  position: absolute;
  top: 7%;
  left: 9%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 130px;
  filter: contrast(0.9) brightness(0.8);
}

.contenedorCartel{
  position: absolute;
  top: 8%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 190px;
  height: 100px;
  filter: contrast(0.9) brightness(0.8);

}

.cartelUsuario{
  position: absolute;
  top: 9%;
  left: 90%;
  transform: translate(-50%, -50%);
  max-width: 160px;
  max-height: 80px;
  text-align: center;
  color: white;
  line-height: 0.8; 
 }

.contenidoCartel{
  font-size: 20px;
  font-weight: bold;
}

.instruccionCartel{
  font-size: 18px;
}
