.ordenLecturas {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: blue;
}

.lecturas {
  margin: 40px auto;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  height: 30%;
  margin: auto 0;
  background-color: #101213;
  opacity: 0.5;
  transition: .5s ease;
  border-radius: 10px;
}

.carousel-control-prev {
  left: -70px;
  /* Ajusta la posición izquierda según tus preferencias */
}

.carousel-control-next {
  right: -70px;
  /* Ajusta la posición derecha según tus preferencias */
}

.carousel-indicators {
  bottom: -40px;
  /* Ajusta la posición inferior según tus preferencias */
  width: 10%;
  margin: 0 auto;
  background-color: #101213;
  opacity: 0.5;
  transition: .5s ease;
  border-radius: 10px;
}

.tarjetaLectura {
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

.tarjetaLectura:hover img {
  opacity: 0.3;
}

.tarjetaLectura:hover h3 {
  opacity: 1;
}

/* ! Hay que ver como se hace las imagenes con las dimensiones oficiales */
.imagenesLecturas {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: .5s ease;
  cursor: pointer;
}

.tituloLectura {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  opacity: 0.5;
  transition: .5s ease;
  cursor: pointer;
  border-radius: 10px;
}

.regresarCentrado {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  font-size: 20px;
  background-color: red;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 60px;
  box-shadow: 0px 10px 10px #3b3b3bb6;
  border: none;
}

.regresarCentrado:hover {
  background-color: #afafaf;
  color: white;
  box-shadow: none;
}

.cartelUsuario{
  position: absolute;
  padding: 8px;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  max-height: 80px;
  text-align: center;
  background: white;
  display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  border: 1px solid black;
}

.contenidoCartel{
  font-size: 15px;
  font-weight: bold;
}
