.tabla-scroll {
  border: 2px solid #ccc;
  background-color: white;
    overflow-y: auto;
    max-height: 450px;
    margin-top: 30px;
  }

  .tabla-scroll thead, .tabla-scroll-tutor thead{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1; 
  }

  .tabla-scroll-tutor{
    border: 2px solid #ccc;
    background-color: white;
    max-height: 290px;
      overflow-y: auto;
    }

  .navegacionAceptarListar {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
  }

.botonBuscar{
    width: 200px;
  font-size: 20px;
  background-color: yellow;
  color: black; 
  font-weight: bold;
  border: none;
  border-radius: 60px;
}

.botonBuscar:hover {
  background-color: #afafaf;
  color: white;
}