html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(#BAFCEB, #F6FFFD); */
  /* background: url('../../public/img/fondo/MapaOscuro.png') no-repeat center center fixed;
  background-size: cover; */
  /* background: url('/img/fondo/FondoCelesteFiltro.jpg') no-repeat center center fixed;
  background-size: cover; */
  background: url('/img/fondo/FondoNaturaleza.jpg') no-repeat center center fixed;
  background-size: cover;
}

.mascota{
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 25%;
}

.tituloGeneral {
  margin-top: 1%;
  padding: 0;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px #000000ee;
  position: relative;
  z-index: 2;
}

.tituloIndex {
  margin-top: 1%;
  padding: 0;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: gray;
  text-shadow: 2px 2px 10px #000000ee;
}

.letraAmarillo {
  color: yellow;
}

.letraAzul {
  color: blue;
}

.letraRoja {
  color: red;
}

.contenedorIndex {
  margin: 10px auto;
  width: 50%;
  background: transparent;
}

.contenedorMenuTutor{
  margin-top: 50px;
  }

.contenedorIndex .botones {
  font-size: 50px;
  font-weight: bold;
  border-radius: 60px;
  width: 100%;
  margin: 15px 0;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9), -15px -20px 12px rgba(255, 255, 255, 0.6) inset;
}

.contenedorIndex .amarillo {
  background: yellow;
  color: black;
  border: 2px solid rgb(184, 184, 0);
}

.contenedorIndex .azul {
  background: blue;
  color: white;
  border: 2px solid rgb(0, 0, 184);
}

.contenedorIndex .rojo {
  background: red;
  color: white;
  border: 2px solid rgb(184, 0, 0);
}

.contenedorIndex .amarillo:hover, .contenedorIndex .azul:hover, .contenedorIndex .rojo:hover, .logo:hover{
  background-color: #afafaf;
  border-color: #565e64;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), -10px -10px 12px rgba(255, 255, 255, 0.8) inset;
}

.contenedorIndex .amarillo:active, .contenedorIndex .azul:active, .contenedorIndex .rojo:active, .logo:active {
  transform: scale(0.95);
  background: #565e64;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), -10px -10px 12px rgba(255, 255, 255, 0.8) inset;
}

.acercaDe {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 200px;
  font-size: 20px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  border: 2px solid rgb(184, 184, 0);
  border-radius: 60px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9), -5px -15px 12px rgba(255, 255, 255, 0.8) inset;
}

.acercaDe:hover {
  background-color: #afafaf;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 -6px 12px rgba(255, 255, 255, 0.8) inset;
}

.acercaDe:active  {
  background: #565e64;
  transform: translate(-50%, -50%) scale(0.95);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 -6px 12px rgba(255, 255, 255, 0.8) inset;
}

.barraLogos {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 15%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

.logo {
  height: 80px;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
}