.contenedorJuego{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 60%;
    margin: 30px auto;
}

.opcionesEnunciadosOrdenar{
    border: 1px solid black;
    background: white;
    font-weight: bold;
    border-radius: 0 50px 50px 0 ;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 50px;
    width: 100%;
    margin: 5px 0;
}

.contenedroElementoOrden{
    background: url('/img/fondo/FondoMadera.jpeg') no-repeat center center fixed;
    margin: 5px auto 10px;
    height: 50px;
    width: 70px;
    display: flex;
    justify-content: center;
}

  /*Clase odenar_OrdenarEventos*/
.elementoOrden{
    background: blue;
    color: white;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2px;
  }

    .elementoOrden:hover{
        background: #afafaf;
        color: white;
    }